<!DOCTYPE html>
    <head>
        <html lang="en" dir="ltr">
        <meta charset="utf-8">
        <title>Rekomendasi</title>
        <style type="text/css">    
          body
          {
            border: 2px solid black;
            padding: 0px;
            background: url("../static/3202.png");
            background-repeat: no-repeat;
            background-size: 450px 450px; 
            background-position: center center;
            } 
        </style>  
    </head>

    <body bgcolor="Lavender">
        {% extends "template.html" %}
        {% block content %}
            <h1><font color="midnightblue"><strong>
                Berikut adalah 20 film teratas yang kemungkinan besar Anda sukai:</strong></font></h1>
            <p>{{ table }}</p>
        {% endblock %}
    </body>
</html>